body {
    background-color: #1589FF;
    position: relative;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#cards {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

#curentCard {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -44px;
    margin-top: -62px;
}

#drawCard {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -62px;
}

.ContainerP1C {
    position: absolute;
    width: 100%;
    top: 4px;
}

.ContainerP2C {
    position: absolute;
    width: 100%;
    bottom: 4px;
}

#p1c {
    text-align: center;
}

#p2c {
    text-align: center;
}

.card {
    margin: 2px;
}

.activeCard {
    -webkit-animation-name: active;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes active {
  from {  -webkit-box-shadow: 0 0 9px #333; }
  50% {  -webkit-box-shadow: 0 0 36px #91bd09; }
  to {  -webkit-box-shadow: 0 0 9px #333; }
}
